@page
@model Sunny_Proyecto.Pages.Datos_Madre_service.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Datos de la Madre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Datos_Madre.Id" />
            <div class="form-group">
                <label asp-for="Datos_Madre.Nombre_Madre" class="control-label">Nombre de la Madre</label>
                <input asp-for="Datos_Madre.Nombre_Madre" class="form-control" />
                <span asp-validation-for="Datos_Madre.Nombre_Madre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Apellido_Paterno" class="control-label">Apellido Paterno</label>
                <input asp-for="Datos_Madre.Apellido_Paterno" class="form-control" />
                <span asp-validation-for="Datos_Madre.Apellido_Paterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Apellido_Materno" class="control-label">Apellido Materno</label>
                <input asp-for="Datos_Madre.Apellido_Materno" class="form-control" />
                <span asp-validation-for="Datos_Madre.Apellido_Materno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Fecha_Nacimiento" class="control-label">Fecha de Nacimiento</label>
                <input asp-for="Datos_Madre.Fecha_Nacimiento" class="form-control" />
                <span asp-validation-for="Datos_Madre.Fecha_Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Nacionalidad" class="control-label">Nacionalidad</label>
                <input asp-for="Datos_Madre.Nacionalidad" class="form-control" />
                <span asp-validation-for="Datos_Madre.Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Ocupacion" class="control-label">Ocupacion</label>
                <input asp-for="Datos_Madre.Ocupacion" class="form-control" />
                <span asp-validation-for="Datos_Madre.Ocupacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Telefono" class="control-label">Telefono</label>
                <input asp-for="Datos_Madre.Telefono" class="form-control" />
                <span asp-validation-for="Datos_Madre.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Domicilio_padres" class="control-label">Domicilio de los padres</label>
                <input asp-for="Datos_Madre.Domicilio_padres" class="form-control" />
                <span asp-validation-for="Datos_Madre.Domicilio_padres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Municipio" class="control-label">Municipio</label>
                <input asp-for="Datos_Madre.Municipio" class="form-control" />
                <span asp-validation-for="Datos_Madre.Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Colonia" class="control-label">Colonia</label>
                <input asp-for="Datos_Madre.Colonia" class="form-control" />
                <span asp-validation-for="Datos_Madre.Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Comunidad" class="control-label">Comunidad</label>
                <input asp-for="Datos_Madre.Comunidad" class="form-control" />
                <span asp-validation-for="Datos_Madre.Comunidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Madre.Estado_civil" class="control-label">Estado civil</label>
                <input asp-for="Datos_Madre.Estado_civil" class="form-control" />
                <span asp-validation-for="Datos_Madre.Estado_civil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
